doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    a(href='/') Loc8r | 

    a.nav-link(href='/about/') About 

    block content

    footer 
      .row 
        .col-12 
          small &copy; Getting Mean - Simon Holmes/Clive Harber 2018